.comic-card {
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.comic-item text {
  color: black;
}

.comic-item {
  margin: 25px;
  font-size: 14px;
}

.comic-item-title {
  border: 15px;
}

.comic-item img {
  width: 120px;
}
