.sign-in-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://i.pinimg.com/originals/e7/84/4a/e7844a5194cd34bcf78c35a4662438a1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 70px - 20px);
}

.sign-in-container form {
  display: flex;
  padding-top: 60px;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.sign-in-container input {
  width: 400px;
  margin-top: 20px;
  background-color: rgba(240, 233, 233, 0.925);
  height: 40px;
  padding-left: 20px;
  border: none;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

button {
  background-color: rgb(7, 7, 7);
  color: white;
  font-size: 18px;
  padding: 5px;
  margin-top: 40px;
  width: 400px;
  height: 40px;
  font-weight: bold;
  transition: 1s ease;
}

.sign-in-container h3 {
  font-size: 36px;
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  color: white;
}

.sign-up {
  font-size: 24px;
  margin-bottom: -20px;
  color: white;
}

#sign-up-button {
  background-color: rgba(240, 233, 233, 0.925);
  color: rgb(0, 0, 0);
  font-size: 18px;
  border: none;
}

button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
