.layout {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-template-rows: 70px 1fr 30px;
  grid-template-columns: 1fr;
  background-color: aqua;
  width: 100vw;
  height: 100vh;
}

.layout-nav {
  grid-area: head;
}

.layout-footer {
  grid-area: footer;
}
